<h3>Sobre esse aplicativo</h3>

<div class="center">
  <pre class="left">
    The MIT License (MIT)

    Copyright (c) 2014
        Adriano dos Santos Vieira</pre>
  <b><pre>Version: v<span id="appVersion">app version...<span></pre></b>
</div>

<div>
  <p id="deviceProperties">Obtendo dados do dispositivo...</p>
</div>
