<h3>Configuração da aplicação</h3>

<div ng-if="appCtrl.isSelected(3)" ng-controller="bswSetupController as setupCtrl">

<small>
  <div ng-init="setupCtrl.getSetupData()">
    <div class="form-group">
      <label>Nome:</label>
      {{setupCtrl.data.name}}
      <br />
      <label>Descrição:</label>
      {{setupCtrl.data.description}}
    </div>

    <div class="form-group">
      <h4>Ambiente</h4>
      <label>homologação:</label>
      {{setupCtrl.data.ambiente.homologacao}}
      <br />
      <label>produção:</label>
      {{setupCtrl.data.ambiente.producao}}
    </div>

    <div class="form-group">
      <h4>URL teste</h4>
      <label>resumido:</label>
      {{setupCtrl.data.urlTestConn.resumido}}
      <br />
      <label>básico:</label>
      {{setupCtrl.data.urlTestConn.basico}}
      <br />
      <label>completo:</label>
      {{setupCtrl.data.urlTestConn.completo}}
    </div>
  </div>

  <div>
    <!-- botões ações de edição -->
    <!-- button class="topcoat-button--cta" ng-click="setupCtrl.editSetup=1">Editar</button -->
    <button class="topcoat-button--cta" ng-show="setupCtrl.editSetup"
                                        disabled>Salvar</button>
    <button class="topcoat-button--cta" ng-show="setupCtrl.editSetup"
                                        ng-click="setupCtrl.editSetup=0">Cancelar</button>
  </div>

</div>
</small>
<br /><br /><br /><br /><br />
