<h2>Acessos cadastrados</h2>

<div ng-controller="bswAcessosController as acessosCtrl">
  <div ng-repeat="lista in acessosCtrl.lista">
    <ul>
      <li>
        <!-- para editar -->
        <div class="bswTitAmbiente" ng-hide="{{lista.verified}}" ng-click="appCtrl.setTabService(6, lista.id)">
          {{lista.name}}
          <span class="pull-right">
              <img src="img/glyphicons_150_edit.png" />
          </span>
        </div>
        <!-- para listar detalhe -->
        <div class="bswTitAmbiente" ng-show="{{lista.verified}}" ng-click="appCtrl.setTabService(5, lista.id)">
          {{lista.name}}
          <span class="pull-right">
              <img src="img/glyphicons_223_chevron-right.png" />
          </span>

          <br />
        </div>
        <em>{{lista.bcbOrg}}{{lista.bcbDep}}.{{lista.bcbOper}}</em>

      </li>
    </ul>
  </div>
</div>
