.bacen_staws-footer-fixed {
   position: fixed;
   left: 0px;
   bottom: 5%;
   height: 2%;
   width: 100%;
}

.bacen_staws-rotate {
  /* Safari */
  -webkit-transform: rotate(-45deg);

  /* Firefox */
  -moz-transform: rotate(-45deg);

  /* IE */
  -ms-transform: rotate(-45deg);

  /* Opera */
  -o-transform: rotate(-45deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.bswTitAmbiente {
  font-size: 130%;
  color: blue;
}

ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pull-left, .pull-right
{
  margin: 0px;
  float: left;
  display: inline;
  clear: none;
  text-align: left;
}

.pull-right {
  float: right;
  text-align: right;
}

#about, .about {
  background-image: url("../img/glyphicons_194_circle_question_mark.png");
  background-repeat: no-repeat;
  padding: 0 0 0 2rem;
}

#setup, .setup {
  background-image: url("../img/glyphicons_136_cogwheel.png");
  background-repeat: no-repeat;
  padding: 0 0 0 2rem;
}

#access-add, .access-add {
  background-image: url("../img/glyphicons_141_database_plus.png");
  background-repeat: no-repeat;
  padding: 0 0 0 2rem;
}

#access-list, .access-list {
  background-image: url("../img/glyphicons_114_list.png");
  background-repeat: no-repeat;
  padding: 0 0 0 2rem;
}
